@model UpdateOrderStatusModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "UpdatePaymentStatus";
}

<h2>Update payment status</h2>
<a class="my-2 btn btn-primary" asp-action="AllOrders">Back</a>

<form style="width: 50%;" asp-action="UpdateOrderStatus" class="pt-2">

    <input type="hidden" asp-for="OrderId" />

    <div class="mb-2">
        <label>Order status</label>
        <select class="form-control" asp-for="OrderStatusId" asp-items="@Model.OrderStatusList">
            <option value="">Select order status</option>
        </select>
        <span class="text-danger" asp-validation-for="OrderStatusId"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>

    @if (TempData["msg"] != null)
    {
        <div class="text-info my-2">
            @TempData["msg"]
        </div>
    }
</form>

