@model IEnumerable<Genre>
@{
    Layout = "_AdminLayout";
}

<h2>Genres</h2>

<a asp-action="AddGenre" asp-controller="Genre" class="btn btn-primary">Add More</a>

<table class="table table-striped my-2">
    <tr>
        <th>Genre</th>
        <th>Action</th>
    </tr>

    @foreach(var genre in Model)
    {
        <tr>
            <td>@genre.GenreName</td>
            <td>
                <a asp-action="UpdateGenre" asp-controller="Genre" asp-route-id="@genre.Id" class="btn btn-success">Edit</a>
                <a asp-action="DeleteGenre" asp-controller="Genre" asp-route-id="@genre.Id" class="btn btn-danger" onclick="return window.confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
    }
</table>

