@model GenreDTO
@{
    Layout = "_AdminLayout";
}
@* @Html.ValidationSummary() *@
<div style="width:50%">
<h2> Update Genre </h2>
<a asp-action="Index" asp-controller="Genre" class="btn btn-primary">Back</a>
<form asp-action="UpdateGenre">
   <input type="hidden" asp-for="Id" />

   <div class="my-2">
      <label>Genre</label>
      <input type="text" class="form-control" asp-for="GenreName" />
            <span asp-validation-for="GenreName" class="text-danger"></span>
   </div>

   <div class="my-2">
      <button type="submit" class="btn btn-info">Update</button>
   </div>
</form>
</div>
