@If(TempData["successMessage"] is not null)
{
<div class="alert alert-success alert-dismissible fade show" role="alert">
  @TempData["successMessage"]
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
}

@If(TempData["errorMessage"] is not null)
{
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  @TempData["errorMessage"]
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
}